.container{
    --green:#4c8339;
    display: flex;
    border: 1px solid var(--green);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 8px;
    flex-direction: column;
  
}
.textContainer{
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}
.textContainer a{
    text-decoration: none;
    color: inherit;
}
.textContainerEdit{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.text{
    font-size: x-large;
}

.editable{
    border: 1px solid;
    padding: 8px 4px;
}

.index{
    background-color: var(--green);
    color: white;
    padding: 15px;
    font-size: x-large;
    font-weight: 800;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

#lastButton{
    margin-left:0;
}

button{
    background: none;
    color: var(--green);
    border: 1px solid var(--green);
	border-radius: 20px;
    padding: 2px 12px;
    margin-left: 8px;
    font: inherit;
    font-size: small;
    font-weight: 500;
	cursor: pointer;
}

button:hover{
    background-color: var(--green);
    color: white;
}

.fontLarge{
    font-size: large;
}

.statistics{
    margin-top: 8px;
    font-size: medium;
    font-weight: 300;
}
@media only screen and (min-width:480px){
    .container{
    flex-direction: row;
    }
   }