.container{
    align-self: flex-end;
}
.end{
    display: flex;
    justify-content: flex-end;
}
.menuButton{
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
}
.menuButton:hover{
    background-color: inherit;
    color: inherit;
}
.option {
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
    padding: 8px;
}
.menu{
    display: flex;
}